* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #ffb;
    border: 8px dashed #993;
}



#player {
	background-color: #900;
	border: 4px dashed #b22;
	width: 50px;
	height: 50px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: #444;
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}